.page
{
    display: flex;
    flex-direction: column;
}
.menu
{   
    height: 40px;
    background-color: royalblue;
}
.header
    {
        background-color: lightblue;
    }
 .content
    {
        background-color: grey;
    }
 .sign-up
    {
        background-color: lightgreen;
    }
 .feature-1
    {
        background-color: orange;
    }
 .feature-2
    {
        background-color:lightcoral;
    }
  .feature-3
    {
        background-color: purple;
    }